Housekeeping and general tinkering around

In [ ]:
# import libraries 
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# import your data 
df = pd.read_csv('2012-18_officialBoxScore.csv')

In [ ]:
print(df.head)

<bound method NDFrame.head of            gmDate gmTime  seasTyp  ... opptSTL/TO     poss     pace
0      2012-10-30  19:00  Regular  ...    33.3333  88.9409  88.9409
1      2012-10-30  19:00  Regular  ...    33.3333  88.9409  88.9409
2      2012-10-30  19:00  Regular  ...    33.3333  88.9409  88.9409
3      2012-10-30  19:00  Regular  ...    84.6154  88.9409  88.9409
4      2012-10-30  19:00  Regular  ...    84.6154  88.9409  88.9409
...           ...    ...      ...  ...        ...      ...      ...
44279  2018-04-11  10:30  Regular  ...    54.5455  91.9864  91.6047
44280  2018-04-11  10:30  Regular  ...    54.5455  91.9864  91.6047
44281  2018-04-11  10:30  Regular  ...    14.2857  91.9864  91.9864
44282  2018-04-11  10:30  Regular  ...    14.2857  91.9864  91.9864
44283  2018-04-11  10:30  Regular  ...    14.2857  91.9864  91.9864

[44284 rows x 119 columns]>

In [ ]:
print(df.dtypes)

gmDate         object
gmTime         object
seasTyp        object
offLNm         object
offFNm         object
               ...
opptAR        float64
opptAST/TO    float64
opptSTL/TO    float64
poss          float64
pace          float64
Length: 119, dtype: object

In [ ]:
month = df.loc[:,"gmDate"]
print(month)

0        2012-10-30
1        2012-10-30
2        2012-10-30
3        2012-10-30
4        2012-10-30
            ...
44279    2018-04-11
44280    2018-04-11
44281    2018-04-11
44282    2018-04-11
44283    2018-04-11
Name: gmDate, Length: 44284, dtype: object

This method below makes it so I can split by specefic dates... now need to make it more specefic rather than only splitting by year

In [ ]:
for index, row in df.iterrows():
    if "2012" in row["gmDate"]:
      split_by_year = row

Lets create new columns seasons and types that correspond to the season and whether it is train or test

In [66]:
mthlist = [10,11,12,1]
seasons = []
types = []

for index,row in df.iterrows():
    month = int(row["gmDate"][5:7])
    year = int(row["gmDate"][0:4])

    if month in mthlist:
      types.append("Train")
      if month != 1:
        seasons.append(year + 1)
      else:
        seasons.append(year)

    else:
      seasons.append(year)
      types.append("Test")
df.insert(df.shape[1],"season",seasons)
df.insert(df.shape[1],"type",types)
print(df)

           gmDate gmTime  seasTyp    offLNm  ...     poss     pace season   type
0      2012-10-30  19:00  Regular  Brothers  ...  88.9409  88.9409   2013  Train
1      2012-10-30  19:00  Regular     Smith  ...  88.9409  88.9409   2013  Train
2      2012-10-30  19:00  Regular   Workman  ...  88.9409  88.9409   2013  Train
3      2012-10-30  19:00  Regular  Brothers  ...  88.9409  88.9409   2013  Train
4      2012-10-30  19:00  Regular     Smith  ...  88.9409  88.9409   2013  Train
...           ...    ...      ...       ...  ...      ...      ...    ...    ...
44279  2018-04-11  10:30  Regular       Orr  ...  91.9864  91.6047   2018   Test
44280  2018-04-11  10:30  Regular    Foster  ...  91.9864  91.6047   2018   Test
44281  2018-04-11  10:30  Regular     Tiven  ...  91.9864  91.9864   2018   Test
44282  2018-04-11  10:30  Regular       Orr  ...  91.9864  91.9864   2018   Test
44283  2018-04-11  10:30  Regular    Foster  ...  91.9864  91.9864   2018   Test

[44284 rows x 121 columns]