In [85]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

complete_df = pd.read_csv("teamBoxScore.csv")
complete_df.head()
predictor_stats = complete_df[["teamAbbr","gmDate","teamRslt","seasTyp","teamEDiff","teamASST%","team2P%","team3P%","teamFT%","opptTO%"]]
predictor_stats["Q4Diff"] = complete_df["teamPTS4"] - complete_df["opptPTS4"]
predictor_stats

/Users/ankitpatel/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,teamAbbr,gmDate,teamRslt,seasTyp,teamEDiff,teamASST%,team2P%,team3P%,teamFT%,opptTO%,Q4Diff
0,WAS,2012-10-30,Loss,Regular,-11.2435,81.2500,0.4138,0.2500,0.6000,19.1466,2
1,CLE,2012-10-30,Win,Regular,11.2435,61.1111,0.4915,0.3500,0.6818,11.6279,-2
2,BOS,2012-10-30,Loss,Regular,-13.6866,61.5385,0.5323,0.4615,0.8214,7.9145,4
3,MIA,2012-10-30,Win,Regular,13.6866,58.1395,0.5556,0.5000,0.8125,15.4859,-4
4,DAL,2012-10-30,Win,Regular,8.7356,55.0000,0.5000,0.3333,0.7778,13.3792,0
...,...,...,...,...,...,...,...,...,...,...,...
14753,LAC,2018-04-11,Loss,Regular,-14.7419,65.8537,0.5385,0.3333,0.4286,15.1732,3
14754,UTA,2018-04-11,Loss,Regular,-9.2142,54.5455,0.3788,0.3478,0.7917,9.4304,12
14755,POR,2018-04-11,Win,Regular,9.2142,46.3415,0.4923,0.3750,0.6875,13.0936,-12
14756,HOU,2018-04-11,Loss,Regular,-14.1326,35.4839,0.5000,0.2826,0.6667,11.0220,3
14757,SAC,2018-04-11,Win,Regular,14.1326,57.8947,0.5741,0.2692,0.6500,13.8231,-3