# Gathering and Cleaning Data 

## DEEP Workshop #2
The goal of this notebook is to give you the knowledge of how to access and begin to understand a new data set.

### Table of contents: 
1. Review: Pandas Data Structures
2. Reading in Data
3. Getting an Initial Sense for the Data
4. Selecting Data Subsets
5. Computations and New Columns
6. Grouping and Aggregating the Data

### Data Overview 
We are using a dataset on different cereals. Most of the columns are self explanatory but there are two columns that are coded: 
- mfr: Manufacturer of cereal
    - A = American Home Food Products;
    - G = General Mills
    - K = Kelloggs
    - N = Nabisco
    - P = Post
    - Q = Quaker Oats
    - R = Ralston Purina
- type:
    - cold
    - hot
   
You can find more about the dataset here: https://www.kaggle.com/crawford/80-cereals

# Review: Pandas Data Structures 

In pandas, there are two key data structures - a series and a dataframe.
A series a one-dimensional labeled array (or list) capable of holding any data type.
A dataframe represents tabular data and is composed of columns, where each column is a series.

You can read more about the basic data structures in Panda's documentation: https://pandas.pydata.org/docs/user_guide/dsintro.html

# Reading in Data

Before we can learn about pandas we need to read in the library. \
In python libraries are read in like this:
```
import library_name as some_abbreviation
```

First we want to access the data we will be using pandas.

To read-in and create a new data frame from a csv in pandas we use:

```
df = pd.read_csv('path or url to csv')
```

In [4]:
# import libraries 
import pandas as pd

In [5]:
# import your data 
df = pd.read_csv('cereal.csv')

# Getting an Initial Sense for the Data  
The pandas DataFrame object that we just created has a lot of useful methods and attributes or getting a sense of what is included in our data.

A usefull attribute for determining the number of rows and columns of your data is:
```
df.shape #shape is an attriute not a method so we don't use parenthesis
```
To get a quick look at the first couple rows of your data use:
```
df.head() 
```
To get number of unique values in the dataframe 
```
df.nunique()
```

### Q: What are the dimensions/shape of the cereal dataset?

In [44]:
df.shape
# (77, 16)

(77, 16)

### Q: Look at the head of the dataset. What does each row represent?

In [45]:
df.head() 
# different cereals

                        name mfr type  calories  ...  shelf  weight  cups     rating
0                  100% Bran   N    C        70  ...      3     1.0  0.33  68.402973
1          100% Natural Bran   Q    C       120  ...      3     1.0  1.00  33.983679
2                   All-Bran   K    C        70  ...      3     1.0  0.33  59.425505
3  All-Bran with Extra Fiber   K    C        50  ...      3     1.0  0.50  93.704912
4             Almond Delight   R    C       110  ...      3     1.0  0.75  34.384843

[5 rows x 16 columns]

### Q: What are the columns in the dataset? What datatype is each column?

In [46]:
print(df.dtypes)
# name, tupe ,colories, etc.

name         object
mfr          object
type         object
calories      int64
protein       int64
fat           int64
sodium        int64
fiber       float64
carbo       float64
sugars        int64
potass        int64
vitamins      int64
shelf         int64
weight      float64
cups        float64
rating      float64
dtype: object

### Q: How many unique ratings are there?

In [49]:
subset_df.nunique()
# 77

77

# Selecting Subsets 
A useful methods for selecting rows and columns:\
`subset_df = df.loc[desired rows, desired columns]`

For example if we wanted all rows but only the name and rating columns we would use:\
`cerealName_rating_df = cereal_df.loc[:, ['name', 'rating']]`

Or if we wanted only the first 50 rows but all columnns we would use:\
`first_50_df = cereal_df.loc[range(50), : ]`

We can also use boolean logic to select specific rows:\
`kellogs_df = cereal_df.loc[cereal_df.mfr == "K", :]`

### Q: What are the names of all the cereals made by General Mills? How many cereals are made by General Mills?

Hint: the code for General Mills is G

In [64]:
GeneralMills_df = df.loc[df.mfr == "G", :]
GeneralMills_df.name.unique()
#GeneralMills_df.name.nunique()
#22

array(['Apple Cinnamon Cheerios', 'Basic 4', 'Cheerios',
       'Cinnamon Toast Crunch', 'Clusters', 'Cocoa Puffs',
       'Count Chocula', 'Crispy Wheat & Raisins', 'Golden Grahams',
       'Honey Nut Cheerios', 'Kix', 'Lucky Charms',
       'Multi-Grain Cheerios', 'Oatmeal Raisin Crisp', 'Raisin Nut Bran',
       'Total Corn Flakes', 'Total Raisin Bran', 'Total Whole Grain',
       'Triples', 'Trix', 'Wheaties', 'Wheaties Honey Gold'], dtype=object)

### Q: What is the highest rating value in the dataset? What is the lowest rating value in the dataset?

In [68]:
df.rating.max()
# df.loc[df.rating == df.rating.max()]
#93.704912
df.rating.min()
#18.042851000000002
#df.rating

93.704912

### Q: How many cereals have sugar content over 5?

In [72]:
 sugars = df.loc[df.sugars > 5, :]
 len(sugars)
 # 46

46

# Computations and New Columns

We can also use typical mathematical opperators on columnns or data frame.

For example, to convert milligrams of sodium to grams, we would multiply the sodium column by 1000. **(NOTE: this will not actually change the value of the column. Instead a new series is returned)**
```
cereal_df.loc[:, "sodium"] * 1000 # note this will not actually change the value of the column
```

To create new or overiding existing columns from computations: 
```
df.loc[:, "column_name"] = a single value or an array type (ie. list, series, ect.)
```

So if we wanted to make a column of sodium in grams, we would do: 
```
cereal_df.loc[:, "grams_sodium"] = cereal_df.loc[:, "sodium"] * 1000
```

--- 
We can also use multiple columns in computations. For example, to compute the ratio of sugars to calories: 
```
cereal_df.loc[:, "sugars"] / (cereal_df.loc[:, "calories"])
```


Sometimes we want to make computations on single or multiple columns of our data. To do this we can use common mathematical opperations such as `.sum()`, `.mean()`, `.std()`, `median()`.

For example to compute the mean (or average) cumulative number of sugars:
```
cereal_df.loc[:,"sugars"].mean()
```

### Q: Create a column for grams of potassium. (Note: potassium is currently measured in milligrams.)

In [83]:
# 0.001 grams in 1 milligram
df.loc[:, "grams_potass"] = df.loc[:, "potass"] * 0.001

### Q: Can you create a column of sugar/weight?

In [93]:
df.loc[:, "sugar divided by weight"] = df.loc[:, "sugars"] / df.loc[:, "weight"]

### Q: What is the mean and median for sugar amount? Are they the same or different?

In [82]:
df.loc[:,"sugars"].mean()
# 6.922077922077922
df.loc[:,"sugars"].median()
# 7

7.0

### Q: What is the mean and median for fiber? Are they the same or different?

In [85]:
df.loc[:,"fiber"].mean()
# 2.1519480519480516
df.loc[:,"fiber"].median()
# 2

2.0

# Sorting

Dataframes make it easy to sort values in a specific column. For example, if we wanted to sort the dataframe by sugar levels, we would do: 
```
cereal_df.sort_values(by=['sugars])
```

By default, the sort is in ascending order (lowest to high). To sort in descending order, do: 
```
cereal_df.sort_values(by=['sugars], ascending=False)
```

### Q: What cereals have the most number of calories?

In [90]:
df.sort_values(by=['calories'], ascending=False)
# Mueslix Crispy Blend, Muesli Raisins; Dates; & Almonds, Muesli Raisins; Peaches; & Pecans

                                 name mfr  ... grams_potass  sugar/weight
46               Mueslix Crispy Blend   K  ...        0.160      8.666667
44   Muesli Raisins; Dates; & Almonds   R  ...        0.170     11.000000
45  Muesli Raisins; Peaches; & Pecans   R  ...        0.170     11.000000
70                  Total Raisin Bran   G  ...        0.230      9.333333
39             Just Right Fruit & Nut   K  ...        0.095      6.923077
..                                ...  ..  ...          ...           ...
2                            All-Bran   K  ...        0.320      5.000000
0                           100% Bran   N  ...        0.280      6.000000
3           All-Bran with Extra Fiber   K  ...        0.330      0.000000
55                       Puffed Wheat   Q  ...        0.050      0.000000
54                        Puffed Rice   Q  ...        0.015      0.000000

[77 rows x 18 columns]

### Q: What cereals have the least number of calories?

In [15]:
df.sort_values(by=['calories'])
# All-Bran with Extra Fiber, puffed rice, puffed wheat

                                 name mfr type  ...  weight  cups     rating
3           All-Bran with Extra Fiber   K    C  ...    1.00  0.50  93.704912
54                        Puffed Rice   Q    C  ...    0.50  1.00  60.756112
55                       Puffed Wheat   Q    C  ...    0.50  1.00  63.005645
0                           100% Bran   N    C  ...    1.00  0.33  68.402973
2                            All-Bran   K    C  ...    1.00  0.33  59.425505
..                                ...  ..  ...  ...     ...   ...        ...
49          Nutri-Grain Almond-Raisin   K    C  ...    1.33  0.67  40.692320
39             Just Right Fruit & Nut   K    C  ...    1.30  0.75  36.471512
44   Muesli Raisins; Dates; & Almonds   R    C  ...    1.00  1.00  37.136863
45  Muesli Raisins; Peaches; & Pecans   R    C  ...    1.00  1.00  34.139765
46               Mueslix Crispy Blend   K    C  ...    1.50  0.67  30.313351

[77 rows x 16 columns]

# Grouping and Aggregating the Data

Sometimes we want to look at our data at a different granularity. Pandas allows us to do this by grouping on columns.

For example to look at the average values for cold vs hot cereal: \
```
hot_cold_df = cereal_df.groupby(["type"]).mean().reset_index()
```

---

Q: Can you create a dataframe that is grouped by date?\
Q: What is the shape/dimensions of the new data frame? Does this make sense based off of the number of recorded days of data? 
Q: What does this new data frame represent?

You can also print off the head of this new data frame if you want to get a better sense of what it includes.

### Q: What are the average cereal measurements per manufacturer of cereal (mfr) ?

In [16]:
mfravg_df = df.groupby(["mfr"]).mean().reset_index()
mfravg_df

  mfr    calories   protein       fat  ...     shelf    weight      cups     rating
0   A  100.000000  4.000000  1.000000  ...  2.000000  1.000000  1.000000  54.850917
1   G  111.363636  2.318182  1.363636  ...  2.136364  1.049091  0.875000  34.485852
2   K  108.695652  2.652174  0.608696  ...  2.347826  1.077826  0.796087  44.038462
3   N   86.666667  2.833333  0.166667  ...  1.666667  0.971667  0.778333  67.968567
4   P  108.888889  2.444444  0.888889  ...  2.444444  1.064444  0.714444  41.705744
5   Q   95.000000  2.625000  1.750000  ...  2.375000  0.875000  0.823750  42.915990
6   R  115.000000  2.500000  1.250000  ...  2.000000  1.000000  0.871250  41.542997

[7 rows x 14 columns]